<!DOCTYPE html>
<html>
  <head>
    <title>NoWork Leave Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to NoWork Leave Tracker</h1>
    <p>Please <a href="/login">login</a> to access the application.</p>
  </body>
</html>

